
<div class="col1">
  <div class="cont">
    <div class="cont-col1">
      <div class="label label-success"><i class="icon-list-ol"></i></div>
    </div>
    <div class="cont-col2">
      <div class="desc">
        <h4 style="margin:0;">New Dictionary</h4><span class="date-color">{{ resourcePool[value.uid].createdAt | fromNow }}</span>
        <div style="margin-top:5px;"><a href="#/admin/themis/settings/dictionaries/{{ value.dictionaryUid }}" class="color-blue">{{ resourcePool[value.dictionaryUid].name }}</a>created by {{ resourcePool[value.employeeUid].firstName }} {{ resourcePool[value.employeeUid].lastName }}</div>
      </div>
    </div>
  </div>
</div>
<div class="col2">
  <div class="date">{{ resourcePool[value.uid].createdAt | date:'short' }}</div>
</div>