.widget-themis-finish.portlet.box.blue(data-animate-in    = ""
                                       data-ng-controller = "ControllerWidgetQuarterlyTestingReport")
  .portlet-title
    h4
      span Quarterly Testing Report
  .portlet-body(style="max-height:400px; overflow-y:scroll;")
    #highchart
  // portlet-body
