.span12(data-ng-controller = "ControllerWidget4oh4")
  .row-fluid.page-404
    .span5.number
      | 404
    .span7.details
      h3 Opps, You're lost.
      p
        | We can not find the page you're looking for.
        br
        | Is there a typo in the url?
