<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" id="ng-app" data-ng-controller="ControllerApp" class=""> <![endif]-->
<!--[if IE 9]> <html lang="en" id="ng-app" data-ng-controller="ControllerApp" class=""> <![endif]-->
<!--[if !IE]><!--> <html lang="en" data-ng-controller="ControllerApp"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <title ng-bind-template="{{'Cobar Systems'}}"></title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <meta name="apple-mobile-web-app-capable" content="yes">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css" />
  <link href="/assets/<%= assetHash %>.css" rel="stylesheet" type="text/css" />

  <link rel="shortcut icon" href="/assets/img/CobarFav_01.png" />

</head>
