.widget-themis-finish.portlet.box.blue(data-animate-in    = ""
                                       data-ng-controller = "ControllerWidgetActivityExercisesQuizes")
  .portlet-title
    h4
      span My Exercises
  .portlet-body(style = "max-height:400px; overflow-y:scroll;")
    .progress.progress-striped.active(data-ng-show = "viewModel.upcomingQuizesExercises === false")
      .bar(style = "width: 100%;")
    .box.template-info-box(data-ng-repeat = "upcomingExercise in viewModel.upcomingQuizesExercises")
      .pull-left
        a(href = "#/exercises/{{ upcomingExercise.uid }}") {{ resourcePool[upcomingExercise.event.uid].name }}
        p
          | {{ resourcePool[upcomingExercise.event.uid].dateTime | date:'short' }} ({{ resourcePool[upcomingExercise.event.uid].dateTime | fromNow }})
      a.btn.green.pull-right(href = "#/quizes/{{ upcomingExercise.uid }}") View
      .clearfix
