.inline-content.inline-content-responsive(style = "text-align:center;")
  .btn-group(style = "margin-bottom:0px !important; text-align:left;")
    a.btn.green(data-ng-click != "$parent.viewModel.restoreTemplate('<%= uid %>')")
      | Restore