
<div style="text-align:center;" class="inline-content inline-content-responsive">
  <div style="margin-bottom:0px !important; text-align:left;" class="btn-group">   <a href="{{'#' + viewRoot}}/{{ resourcePool['<%= templateUid %>'].revisions[0].uid }}" data-ng-class="{true:'black', false:'blue'}[viewModel.routeParams.templateUid == '<%= templateUid %>']" class="btn">Edit&nbsp;<i style="display:none;" class="m-icon-swapleft m-icon-white"></i><i class="m-icon-swapright m-icon-white"></i></a>
    <button data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></button>
    <ul class="dropdown-menu pull-right">
      <li><a data-ng-click="$parent.viewModel.deleteConfirmDialogTemplate('<%= templateUid %>')" class="color-red"><i class="icon-trash"></i>Archive</a></li>
    </ul>
  </div>
</div>