<div
  data-ng-controller = "ControllerWidgetExerciseBuilderFieldManageOpenResponse"
  class              = "control-group">
   <label class="control-label">{{field.name}}</label>
   <div class="controls">
      <input data-ng-disabled="true" type="text" placeholder="" class="m-wrap medium">
      <span class="help-inline">
      </span>

      <div>
        Max Length: {{ field.openResponseMaxLength }}
        <br/>
        Min Length: {{ field.openResponseMinLength }}
      </div>

   </div>
</div>
