<div class="row-fluid">

  <div class="span6">

    <button
      style           = "margin-bottom: 5px;"
      data-ng-click   = "cancelAddNewField()"
      class           = "btn red btn-block"><i class="m-icon-swapleft m-icon-white"></i> Cancel</button>

  </div>
  <div class="span6">
    <button
      data-ng-disabled = "isFormInvalid()"
      style            = "margin-bottom: 5px;"
      data-ng-click    = "submitField()"
      class            = "btn green btn-block">Add Field <i class="m-icon-swapright m-icon-white"></i></button>

  </div>

</div>
