<div
  data-ng-controller = "ControllerWidgetExerciseBuilderFieldManageSelectIndividual"
  style              = "color:#000; border:1px solid #999; margin:10px; padding:5px;"
  class              = "">
  <table
    class                   = "table table-striped table-hover table-bordered dataTable condensed-data-table"
    data-data-table         = "dictionaryItemsDT.options"
    ao-column-defs          = "dictionaryItemsDT.columnDefs"
    update-on-resource-post = "dictionaryItem">
    <thead>
      <tr>
        <th class = "sorting">Name</th>
      </tr>
    </thead>
  </table>
</div>
