
<div style="text-align:center;" class="inline-content inline-content-responsive">
  <div style="margin-bottom:0px !important; text-align:left;" class="btn-group"><a data-ng-class="{true:'black', false:'blue'}[viewModel.currentDictionaryUid == '&lt;%= uid %&gt;']" href="#<%= viewRoot %>/<%= uid %>" class="btn">Edit&nbsp;<i data-ng-hide="viewModel.currentDictionaryUid == '<%= uid %>'" class="m-icon-swapright m-icon-white"></i><i data-ng-show="viewModel.currentDictionaryUid == '<%= uid %>'" class="m-icon-swapleft m-icon-white"></i></a>
    <button data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></button>
    <ul class="dropdown-menu pull-right">
      <!--
      <li><a href="#"><i class="icon-pencil"></i>Rename</a></li>
      -->
      <li><a data-ng-click="$parent.viewModel.deleteConfirmDialogDictionary('<%= uid %>')" style="color:red;"><i class="icon-trash"></i>&nbsp;Archive</a></li>
    </ul>
  </div>
</div>