// BEGIN SIDEBAR MENU
ul(style="z-index:1001; background-color:#F1F1F1 !important;", data-ng-show="rootEmployee.type == 'clientSuperAdmin' || rootEmployee.type == 'clientAdmin'", data-ng-include="'viewWidgetCoreLeftMenuOptionsAdmin'")
ul(style="z-index:1001; background-color:#F1F1F1 !important;", data-ng-show="rootEmployee.type == 'clientDelegate'", data-ng-include="'viewWidgetCoreLeftMenuOptionsDelegate'")
// END SIDEBAR MENU
